.traveler.traveler--tablet {
  max-height: none;
  height: 332px;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.traveler__top-wrapper {
  display: flex;
}

.traveler--tablet .traveler__photo {
  overflow: hidden;
  padding-left: 35px;
  padding-top: 35px;
  align-items: normal;
}

.traveler--tablet .traveler__photo-img {
  width: 190px;
  height: 190px;
  object-fit: cover;
  border-radius: 20px;
}

.traveler--tablet .traveler__info {
  padding: 29px 0px 10px 33px;

  display: grid;
  grid-template-columns: 1fr 161px;
  grid-template-rows: auto auto;
  column-gap: 0px;

  @media screen and (max-width: 1360px) and (min-width: 1124px) {
    grid-template-columns: 1fr 110px;
  }

  @media screen and (max-width: 1123px) and (min-width: 1055px) {
    grid-template-columns: 1fr 70px;
  }
}

.traveler--tablet .traveler__identity {
  max-width: none;
}

.traveler--tablet .traveler__name::before {
  content: none;
}

.traveler--tablet .traveler__name::after {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--color-heart);
  margin-left: 23px;
  vertical-align: middle;
}

.traveler--tablet .traveler__name--blue::after {
  background: var(--color-blue);
}
.traveler--tablet .traveler__name--heart::after {
  background: var(--color-heart);
}
.traveler--tablet .traveler__name--green::after {
  background: var(--color-green);
}

.traveler--tablet .traveler__tags {
  margin: 20px 0px 5px 4px;
}

.traveler--tablet .traveler__transport {
  flex-direction: column;
  padding-top: 10px;
  gap: 3px;
}

.traveler--tablet .traveler__transport-level {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  @media screen and (max-width: 1024px) {
    padding-left: 44px;
  }
}

.traveler--tablet .traveler__level {
  padding-top: 5px;
}

.traveler--tablet .traveler__invite-row {
  display: flex;
  align-items: center;
}

.traveler__destinations-block {
  display: flex;
  flex-direction: column;
}

.traveler--tablet .traveler__destinations {
  flex-direction: row;
}

.traveler__destinations-divider {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 6px;
}

.traveler__destinations-title {
  font-size: 15px;
  margin: 0 16px;
  white-space: nowrap;
  position: relative;
  color: #444444;
}

.traveler__destinations-divider::before {
  content: '';
  flex: 1;
  height: 1px;
  background: #edeff6;
  display: block;
}

.traveler__destinations-divider::after {
  content: '';
  flex: 7;
  height: 1px;
  background: #edeff6;
  display: block;
}

.traveler--tablet .traveler__destinations {
  padding-left: 38px;
  padding-top: 20px;
  gap: 28px;
}

.traveler--tablet .traveler__destination {
  gap: 11px;
}
